<ion-view title="我的佣金" hide-back-button="true">
<ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header" scroll="false">
  	<div class="user-head">
  		<p><img ng-src="{{personalData.HeadImgUrl}}" alt="" /></p>
  		<h3>{{personalData.UserName}}</h3>
  	</div>
    <ul class="bill-main cf" ng-init="tabStatus = 1">
      <li ng-class="{'noBottom':tabStatus == 1}" ng-click="tabStatus = 1"><i class="icon ion-ios7-calculator-outline"></i><p class="ft-blue">{{edtotalmoney}}</p><p>已结佣金(元)</p></li>
      <li ng-class="{'noBottom':tabStatus == 2}" ng-click="tabStatus = 2"><i class="icon ion-ios7-timer-outline"></i><p class="ft-orange">{{ingtotalmoney}}</p><p>待结佣金(元)</p></li>
    </ul>
    
    <div class="cf bill-list">
    	<div ng-show="tabStatus == 1">
	    	<ion-content style="margin-top: 250px;">
		    	<ion-refresher
			        pulling-text="松开刷新..."
			        on-refresh="rhlistDoRefresh()">
			    </ion-refresher>
			    <ul class="list">
			        <li class="item" ng-repeat="edlist in edlist">
			          <a href="#/app/reportClient/{{edlist.ID}}">		
			          <p>{{edlist.BuildName}}</p>
			          <p><span class="ft-blue f-l">{{edlist.Cash}}元</span><span class="f-r">{{edlist.CreateTime}}</span></p>
			          </a>
			        </li>
			        <!--<li class="item">
			          <p>楼盘名称</p>
			          <p><span class="ft-blue">12121212 元</span><span class="f-r">2015.04.06 19:45</span></p>
			        </li>-->
			        <li class="item"><p class="nomore" ng-hide="nomore"><span>{{rhlistmoreTishi}}</span></p></li>
			        <!--<li class="item"><p class="nomore" ng-hide="nomore"><span>没有更多数据了</span></p></li>-->
			  </ul>
			  <ion-infinite-scroll
			      ng-if="rhlistNomore"  						
			      on-infinite="rhlistLoadMore()"
			      distance="1%">
		  	  </ion-infinite-scroll>  		
	      </ion-content>
	  </div>
	  
	  <div ng-show="tabStatus == 2">
		  <ion-content style="margin-top: 250px;">
		      <ion-refresher
			        pulling-text="松开刷新..."
			        on-refresh="listDoRefresh()">
			  </ion-refresher>		  
		      <ul class="list">
			        <li class="item" ng-repeat="inglist in inglist">
			          <a href="#/app/reportClient/{{inglist.ID}}">	
			          <p>{{inglist.BuildName}}</p>
			          <p><span class="ft-orange f-l">{{inglist.Cash}} 元</span><span class="f-r">{{inglist.CreateTime}}</span></p>
			          </a>
			        </li>
			        <!--<li class="item">
			          <p>楼盘名称</p>
			          <p><span class="ft-orange">12121212 元</span><span class="f-r">2015.04.06 19:45</span></p>
			        </li>-->
			        <li class="item"><p class="nomore" ng-hide="nomore"><span>{{listmoreTishi}}</span></p></li>
			        <!--<li class="item"><p class="nomore" ng-hide="nomore"><span>没有更多数据了</span></p></li>-->
		      </ul>
			  <ion-infinite-scroll
			      ng-if="listmore"  						
			      on-infinite="listLoadMore()"
			      distance="1%">
		  	  </ion-infinite-scroll>  			        
	      </ion-content>
     </div>
     
    </div>
  </ion-content>
</ion-view>
