<div class="modal">
  <ion-header-bar>
    <h1 class="title">个性标签</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDialog()"><i class="icon ion-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content class="house-add">
    <div class="list">
      <label class="item item-radio">
          <input type="radio" name="tag">
          <div class="item-content">
          Go
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="tag">
          <div class="item-content">
          Go
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="tag">
          <div class="item-content">
          Go
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="tag">
          <div class="item-content">
          Go
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="tag">
          <div class="item-content">
          Go
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="tag">
          <div class="item-content">
          Go
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="tag">
          <div class="item-content">
          Go
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
    </div>
  </ion-content>
</div>

